<%= render 'layouts/header' %>
<div id="wrapper">
<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
	
	<!-- End Top Navigation -->
	<!-- ============================================================== -->
	<!-- Left Sidebar - style you can find in sidebar.scss  -->
	<!-- ============================================================= -->
	<%= render 'layouts/navbar' %>
	<!-- ============================================================== -->
	<!-- End Left Sidebar -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- Page Content -->
	<!-- ============================================================== -->
	<div id="page-wrapper">
	    <div class="container-fluid">
	        <div class="row bg-title">
	            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
	            	
	                 </div>
	            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
	                <ol class="breadcrumb">
                         <li><a href="#">Campaign</a></li>
                         <li class="active">compose</li>
                     </ol>
	            </div>
	            <!-- /.col-lg-12 -->
	        </div>
	        <!-- ============================================================== -->
	        <div class= "row">
				
					<div class="col-sm-12" style="text-align: center;">
					
						<!-- progressbar -->
				        <ul id="eliteregister">
					        <li class="active">Step 1: Compose Message</li>
					        <li>Step2 : Create Segment</li>
				        </ul>

					</div>						
			</div>
			<div class="white-box">
				<div class="row">
					<div class=" col-lg-6 form-group">
		                <input class="form-control" placeholder="Your Name:"> </div>
		            <div class="col-lg-6 form-group">
		                <input class="form-control" placeholder="Reply to: no-reply@company.com"> </div>
		        </div>

		        <div class=" form-group">
		                <input class="form-control" placeholder="SUBJECT"> 
		        </div>
		            
		        <div class="form-group">
		                <textarea class="textarea_editor form-control" rows="15" placeholder="Enter text ..."></textarea><br>
		                 <a href ="/dashboard/create_segment" type="submit" class="btn btn-info pull-right">continue</a>
		        </div>
	           
			</div>
	        
	        <!-- /.row -->      
	    </div>
	    <!-- /.container-fluid -->
	    <footer class="footer text-center"> 2017 &copy; Nestmetric - Customer retention platform </footer>
	</div>
<!-- /#page-wrapper -->
</div>

