<%= render 'layouts/header' %>
<div id="wrapper">
<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
	
	<!-- End Top Navigation -->
	<!-- ============================================================== -->
	<!-- Left Sidebar - style you can find in sidebar.scss  -->
	<!-- ============================================================= -->
	<%= render 'layouts/navbar' %>
	<!-- ============================================================== -->
	<!-- End Left Sidebar -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- Page Content -->
	<!-- ============================================================== -->
	<div id="page-wrapper">
	    <div class="container-fluid">
	        <div class="row bg-title">
	 
	            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
					 <h4 class="page-title">Most Valuable customers</h4>
	            </div>
	            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
	               
	            <!-- /.col-lg-12 -->
	        	</div>
			</div>
			
			<div class="row">
				<div class="col-lg-12 col-sm-12 col-xs-12">
					<div class="white-box">
						<div class="row">
							<div class="col-sm-12" align="center">
								<h4>Segment and engage with customers</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4" align="center">
								 <input type="text" placeholder="Search..." class="form-control">
							</div>

							<div class="col-sm-4" align="center">
								Showing 10 of 300 users
							</div>	

							<div class="col-sm-4 pull-right" align="right">
								<div class="btn-group">
									<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true" ></i> 
									Send a notification
									</button>
											  <ul class="dropdown-menu">
											      <li><a href="/dashboard/compose_segmented">Email Message</a></li>
											      
											   </ul>
								</div>
							</div>	

							

						</div><br>FILTER
						<div class="row">
							<div class="col-sm-3">
								<select class="form-control custom-select">
									  <option selected>country</option>
									  <option value="1">Nigeria</option>
									  <option value="2">Ghana</option>
									  <option value="3">United Kingdom</option>
								</select>
							</div>
							<div class="col-sm-3">
								<select class="form-control custom-select mydatepicker">
									  <option selected>Last seen</option>
									  <option value="1">5 days ago</option>
									  <option value="2">30 days ago</option>
									  <option value="3">40 days ago</option>
								</select>
							</div>
							<div class="col-sm-3">
								<select class="form-control custom-select">
									  <option selected>upload times</option>
									  <option value="1">5 times</option>
									  <option value="2">10 times</option>
									  <option value="3">15 times</option>
								</select>
							</div>
							<div class="col-sm-3">
								<select class="form-control custom-select">
									  <option selected>logins per month</option>
									  <option value="1">0-5</option>
									  <option value="2">10-50</option>
									  <option value="3">50-100</option>
								</select>
							</div>

						</div>
					</div>
				</div>				
			</div>
			

	        <div class="row">
	            <div class="col-lg-12 col-sm-12 col-xs-12">
	              <div class="white-box">
		            	<div class="table-responsive">
		            	<%@result.each do |row|%>
	                                <table class="table">
	                                    <thead>
	                                        <tr>
	                                            <th><input id="checkbox0" type="checkbox"> User</th>
	                                            
	                                        </tr>
	                                    </thead>
	                                    <tbody>
	                                        <tr>
	                                            <td><%= puts row._user%></td>
	                                        </tr>
	                                        
	                                    </tbody>
	                                </table>
	                        <%end%>
	                      	</div>
	                     </div>
		            </div>
	        </div>
	        <!-- ============================================================== -->
	    </div>
	    <!-- /.container-fluid -->
	    <%= render 'layouts/footer' %>
	</div>
<!-- /#page-wrapper -->
</div>

