<div id="wrapper">
<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
	<nav class="navbar navbar-default navbar-static-top m-b-0">
	    <div class="navbar-header">
	        <div class="top-left-part">
	            <!-- Logo -->
	            <a class="logo" href="index.html">
	                <!-- Logo icon image, you can use font-icon also --><b>
					<%= image_tag "admin-logo.png", class: 'dark-logo' %>
	                
	                <%= image_tag "admin-logo-dark.png", class: '' %>
	             </b>
	                <!-- Logo text image you can use text also --><span class="hidden-xs">
	                <%= image_tag "admin-text-dark.png", class: '' %>
	             </span> </a>
	        </div>
	        <!-- /Logo -->
	        <!-- Search input and Toggle icon -->
	        <ul class="nav navbar-top-links navbar-left">
	            <li><a href="javascript:void(0)" class="open-close waves-effect waves-light"> <!--add an icon--></a></li>              
	            
	        </ul>
	        <ul class="nav navbar-top-links navbar-right pull-right">
	            <li>
	               <a href="#">Logout</a>
	            </li>
	            
	        </ul>
	    </div>
	    <!-- /.navbar-header -->
	    <!-- /.navbar-top-links -->
	    <!-- /.navbar-static-side -->
	</nav>
	<!-- End Top Navigation -->
	<!-- ============================================================== -->
	<!-- Left Sidebar - style you can find in sidebar.scss  -->
	<!-- ============================================================= -->
	<div class="navbar-default sidebar" role="navigation">
	    <div class="sidebar-nav slimscrollsidebar">
	        <div class="sidebar-head">
	            <h3> <span class="hide-menu">Navigation</span></h3> </div>
	        <div class="user-profile">
	            <!--provides a padding which can be used in the next place-->
	        </div>
	        <ul class="nav" id="side-menu">
	            <li> <a href="#" class="waves-effect active"><span class="hide-menu"> Dashboard </a>
	                
	            </li>

	            <li> <a href="#" class="waves-effect"><span class="hide-menu">UI Elements <span class="label label-rouded label-info pull-right">20</span> </span></a>
	                
	            </li>
	            <li> <a href="#" class="waves-effect"><span class="hide-menu">Sample Pages<span class="label label-rouded label-warning pull-right">30</span></span></a>
	            
	            </li>
	            
	        </ul>
	    </div>
	</div>
	<!-- ============================================================== -->
	<!-- End Left Sidebar -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- Page Content -->
	<!-- ============================================================== -->
	<div id="page-wrapper">
	    <div class="container-fluid">
	        <div class="row bg-title">
	            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
	                 </div>
	            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
	                <a href="#" target="_blank" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Buy Admin Now</a>
	                
	            </div>
	            <!-- /.col-lg-12 -->
	        </div>
	        <!-- ============================================================== -->
	        <div class="row">
	            <div class="col-lg-12 col-sm-12 col-xs-12">
	                <div class="row">
	                    <div class="col-lg-6 col-sm-6 col-xs-12">
	                        <div class="white-box">
	                            <h3 class="box-title">NEW CLIENTS</h3>
	                            <ul class="list-inline m-t-30 p-t-10 two-part">
	                                <li> </li>
	                                <li class="text-right"><span class="counter">23</span></li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="col-lg-6 col-sm-6 col-xs-12">
	                        <div class="white-box">
	                            <h3 class="box-title">NEW Projects</h3>
	                            <ul class="list-inline m-t-30 p-t-10 two-part">
	                                <li></li>
	                                <li class="text-right"><span class="counter">169</span></li>
	                            </ul>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            
	        </div>
	        <!-- /.row -->      
	    </div>
	    <!-- /.container-fluid -->
	    <footer class="footer text-center"> 2017 &copy; Ampleadmin brought to you by themedesigner.in </footer>
	</div>
<!-- /#page-wrapper -->
</div>

