<script language="JavaScript">
function add() {
    //Create an input type dynamically.   
    var element = document.createElement("select");
    	element.classList = "custom-select form-control";
    	element.style.width = "20%";
    	element.style.float = "left";
    	element.style.marginLeft = "10px";
    var foo = document.getElementById("fooBar");
        foo.appendChild(element );
}

</script>
<%= render 'layouts/header' %>
<div id="wrapper">
<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
	
	<!-- End Top Navigation -->
	<!-- ============================================================== -->
	<!-- Left Sidebar - style you can find in sidebar.scss  -->
	<!-- ============================================================= -->
	<%= render 'layouts/navbar' %>
	<!-- ============================================================== -->
	<!-- End Left Sidebar -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- Page Content -->
	<!-- ============================================================== -->
	<div id="page-wrapper">
	    <div class="container-fluid">
	        <div class="row bg-title">
	 
	            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
					 <h4 class="page-title">CREATE A SEGMENT</h4>
	            </div>
	            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
	               
	            <!-- /.col-lg-12 -->
	        	</div>
			</div>
			<!-- <div class="row">
				<div class="col-lg-12 col-sm-12 col-xs-12">
					<div class="white-box">
						<div id="fooBar"></div>
						<br>
						<button class="btn btn-info" onclick="add()" ><i class="fa fa-plus" aria-hidden="true" ></i></button>
					</div>
				</div>
			</div> -->
			<div class="row">
				<div class="col-lg-12 col-sm-12 col-xs-12">
					<div class="white-box">
						<div class="row">
							<div class="col-sm-12" align="center">
								<h4>Segment customers for easy analysis</h4>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-4" align="center">
								 <input type="text" placeholder="Segment Name" class="form-control">
							</div>

							<div class="col-sm-4" align="center">
								Showing 10 of 300 users
							</div>	

							<div class="col-sm-4 pull-right" align="right">
								<div class="btn-group">
									<a href="/dashboard/all_segments" type="button" class="btn btn-info">
									Save segment
									</a>
								</div>
							</div>	
						</div><br>
						
						<div class="row">
							<div class="col-sm-3">
								<select class="form-control custom-select">
									  <option selected>country</option>
									  <option value="1">Nigeria</option>
									  <option value="2">Ghana</option>
									  <option value="3">United Kingdom</option>
								</select>
							</div>
							<div class="col-sm-3">
								<select class="form-control custom-select mydatepicker">
									  <option selected>Last seen</option>
									  <option value="1">5 days ago</option>
									  <option value="2">30 days ago</option>
									  <option value="3">40 days ago</option>
								</select>
							</div>
							<div class="col-sm-3">
								<select class="form-control custom-select">
									  <option selected>upload times</option>
									  <option value="1">5 times</option>
									  <option value="2">10 times</option>
									  <option value="3">15 times</option>
								</select>
							</div>
							<div class="col-sm-3">
								<select class="form-control custom-select">
									  <option selected>logins per month</option>
									  <option value="1">0-5</option>
									  <option value="2">10-50</option>
									  <option value="3">50-100</option>
								</select>
							</div>

						</div>
						
					</div>
				</div>				
			</div>
			

	        <div class="row">
	            <div class="col-lg-12 col-sm-12 col-xs-12">
		              <div class="white-box">
			            <div style="text-align: center;">
	              			<%= image_tag "predict.png" ,style:"height:100px;"%><br>
		            		HI Chuck!<br>
		            		Sorry no data to display yet.We are waiting for your data<br>
		            		Check out our demo data<br><br>
		            		<a href="/dashboard/segment" type="button" class="btn btn-info">Demo</a>
		            	</div>	
		              </div>
		         </div>
	        </div>
	        <!-- ============================================================== -->
	    </div>
	    <!-- /.container-fluid -->
	    <footer class="footer text-center"> 2017 &copy; Ampleadmin brought to you by themedesigner.in </footer>
	</div>
<!-- /#page-wrapper -->
</div>

