<div class="container-fluid" style="margin-top: 70px; background-color: white;">
	<div class="row">
		<div style="text-align: center;">
			<h1>Get started with Nestmetric</h1>
		</div>		
	</div>	

	<div class="row">
		<div class="col-md-3">
		
		</div>
		<div class="col-md-6">
			<b><h3>Quick Javascript install</h3></b>
			<div >
				<span class="label label-rouded label-info pull-left">1</span>&nbsp Paste this snippet into the header of your site (just before the closing  head tag).
			</div>
			<pre><span> < script > </span><br><div style="margin-left: 20px;">var salesmachine=salesmachine||[];salesmachine.Settings=function(e,a){var n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src="//my.salesmachine.io/javascripts/salesmachine.min.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(n,t);for(var s=function(e){return function(){salesmachine.push([e].concat(Array.prototype.slice.call(arguments,0)))}},c=["init","salesmachine","pageview","account","contact","track"],i=0;i<c.length;i++)salesmachine[c[i]]=s(c[i]);salesmachine.init(e,a)};
			salesmachine.Settings("mFcD3YYHz9jhlL04ZzgLyg", {});</div><span> <br>< script > </span></pre>

			<div >
				<span class="label label-rouded label-info pull-left">2</span>&nbsp Paste this snippet into the header of your site (just before the closing </ head> tag).
			</div>
			<pre><span> < script > </span><br><div style="margin-left: 20px;">var salesmachine=salesmachine||[];salesmachine.Settings=function(e,a){var n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src="//my.salesmachine.io/javascripts/salesmachine.min.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(n,t);for(var s=function(e){return function(){salesmachine.push([e].concat(Array.prototype.slice.call(arguments,0)))}},c=["init","salesmachine","pageview","account","contact","track"],i=0;i<c.length;i++)salesmachine[c[i]]=s(c[i]);salesmachine.init(e,a)};
			salesmachine.Settings("mFcD3YYHz9jhlL04ZzgLyg", {});</div><span> <br>< script > </span></pre>

			<div >
				<span class="label label-rouded label-info pull-left">3</span>&nbsp Paste this snippet into the header of your site (just before the closing </ head> tag).
			</div>
			<pre><span> < script > </span><br><div style="margin-left: 20px;">var salesmachine=salesmachine||[];salesmachine.Settings=function(e,a){var n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src="//my.salesmachine.io/javascripts/salesmachine.min.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(n,t);for(var s=function(e){return function(){salesmachine.push([e].concat(Array.prototype.slice.call(arguments,0)))}},c=["init","salesmachine","pageview","account","contact","track"],i=0;i<c.length;i++)salesmachine[c[i]]=s(c[i]);salesmachine.init(e,a)};
			salesmachine.Settings("mFcD3YYHz9jhlL04ZzgLyg", {});</div><span> <br>< script > </span></pre>
			<hr>
			<div style="height: 60px; margin-top: 30px">
				Once you send your first event, check to make sure we're receiving data.
				<a href="#" target="_blank" class="btn btn-info pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Check</a>
			</div>
		</div>
		<div class="col-md-3">
		</div>
	</div>

</div>