<%= render 'layouts/header' %>
<div id="wrapper">
	<%= render 'layouts/navbar' %>
	<div id="page-wrapper">
		<div class="row bg-title">
		    <div class="container-fluid">
		    	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		          <h4 class="page-title">All Customers Being Tracked</h4>
		        </div>
		        <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
		          
		        </div>
		   
		    </div>
		     <%@customers.each do |customer|%>
		    	<%=customer["id"]%>
		    <%end%>
		</div>
	</div>
</div>