<%= render 'layouts/header' %>
<div id="wrapper">
	<%= render 'layouts/navbar' %>
	<div id="page-wrapper">
	    <div class="container-fluid">
	        <div class="row bg-title">
	 
	            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
					 <h4 class="page-title">All Events Being Tracked</h4>
	            </div>
	            
			</div>

			 <div class="row">
	            <div class="col-lg-12 col-sm-12 col-xs-12">
	              <div class="white-box">
		            	<div class="table-responsive">
	                                <table class="table">
	                                    <thead>
	                                        <tr >
	                                            <th style="color: black;"> Event</th>
	                                            <th style="color: black;"> Total count</th>    
	                                        </tr>
	                                    </thead>
	                                    <tbody>
	                                    
	                                        	<%@events.each do |event|%>
	                                        <tr>
		                                            <td><a href="/dashboard/most_valuable" rakam-event-track="Click to view events", rakam-event-properties='{"webpage": "/dashboard/most_valuable"}'><%=@events[@events.index(event)][0]%></a></td>
		                                            <%@count = @count+1%>
		                                            <td><span class="text-muted"><%=@events[@events.index(event)][1]%></span></td>         
	                                        </tr> 
										<%end%> 
	                                    </tbody>
	                                </table>
	                      	</div>
	                     </div>
		            </div>
	        </div>

		</div>
	</div>
</div>
