<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav slimscrollsidebar">
      <div class="sidebar-head">
          <h3> <span class="hide-menu">Navigation</span></h3> </div>
      <div class="user-profile">
          <!--provides a padding which can be used in the next place-->
      </div>
      <ul class="nav" id="side-menu">
         <!--  <li>
            <a href="/dashboard/new" class="waves-effect"><span class="hide-menu"> Insights </a>          
          </li> -->
          <li> 
            <a href="/event_collections/index" class="waves-effect"><span class="hide-menu">Events collection</span></a>    
          </li>
          <li> 
            <a href="<%= projects_analyze_path %>" class="waves-effect"><span class="hide-menu">Analyze</span></a>    
          </li>
          <li>
          <a href="<%= customers_index_path %>" class="waves-effect"><span class="hide-menu">Customers</span></a>    
          </li>
          <!-- <li> 
            <a href="/dashboard/all_segments" class="waves-effect "><span class="hide-menu"> User segment</a>    
          </li> -->

          <!-- <li> <a href="/dashboard/compose" class="waves-effect"><span class="hide-menu">Engage</span></a>
           -->

          <!-- <li> 
            <a href="/dashboard/campaign" class="waves-effect"><span class="hide-menu">Campaigns</span></a>     
          </li> -->

         <!--  <li> 
            <a href="/dashboard/settings" class="waves-effect"><span class="hide-menu">Settings</span></a>    
          </li>   -->     
      </ul>
  </div>
</div>